h1 {
  text-align: center;
}
h3 {
  text-align: center;
}

body {

  background-color: #ff99cc;
}

img{
  margin:0% 35% 0% 35%;
}
p { text-align: center;}

h4 {
  text-align: center;
}
ul {
  text-align: center;
}
h1 {
  color: #80ffff
}
h3 {
  color: #ffffff
}
body {
  color: #ffffff
}
